body {
  width: 100%;
  background-image: url("/img/world.jpg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.wrapperMain {
  width: 30%;
  margin: 0 auto
}

#root2 {
  border: solid grey 2px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.people_all {
  background-color: rgba(66, 103, 178, 0.5);
  margin: 0 auto;
  margin-bottom: 2px;
  width: 300px;
  transition-duration: 1s;
}

.people_all:hover {
  background-color: rgba(66, 103, 178, 0.9);
}

#loading{width: 250px;
    margin: 20px 75px 300px 75px;
}

#command{position: fixed;top:151px;left:150px;}

.people_all p {
  text-align: center;
  margin: 0;
  line-height: 18px
}

.peopleAncestor {
  color: black;
  text-decoration: none;
  /* no underline */
}

.peopleAncestor:hover {
  text-decoration: none;
  color: black;
}

.PeopleList {
  margin: 0 auto;
  padding: 0;
}

.badge1 {
  margin-right: 2px;
  display: block;
  width: 200px;
}

.people_each p {
  margin: 1px;
  padding: 5px 5px 0px 5px;
}

ul .people_each {
  list-style-type: none;
}

.profileIMG {
  float: right;
  margin: 2px;
}

.paraInfo {
  width: 250px;
  padding: 5px
}

.name {
  text-align: center;
  font-size: 22px;
}

.ageGender {
  text-align: center;
  font-size: 18px;
}

.btn {
  margin: 1px;
}

.badge {
  margin: 1px;
}

.btnValue {
  width: 60px;
}

.people_card {
  background-color: rgba(66, 110, 178, 0.7);
  width: 30%;
  position:fixed;
  top: 151px;
  right: 40px;
}
